<h1>Update Owner</h1>

<form action="/owners/<%=@owner.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label>

  <br>

  <input type="text" name="owner[name]" id="owner_name" value="<%=@owner.name%>">

  <br>

  <label>Choose an existing pet:</label>

  <label>Who Owns this Pet?:</label>
    <br>
    <br>
    <%Owner.all.each do |owner|%>
      <input type="checkbox" name="pet[owner_id]" id="<%=owner.id%>" value="<%=owner.id%>"><%=owner.name%></input>
    <%end%>

    <label>Or just create a new owner to go with this pet:</label>
    <br>
    <label>Name:</label>
    <br>
    <input type="text" name="owner[name]" id="owner_name">
    <input type="submit" value="Create Pet">
    <br>
</form>

